@charset "utf-8";
/*body2*/
/*1127解决缩放问题*/
html {
    overflow-x: auto;
}
::-webkit-scrollbar:horizontal {
    height:8px;
}
html,body{
    margin: 0px;
    width: 100%;
    min-width: 1400px;
    max-width: 100%;
}
/* 1202解决eltable表头边框错位 */
body .el-table th.gutter {
    display: table-cell!important;
}
/* CSS 定制的公共样式 */
html,body{font:14px/24px Arial,'PingFang SC','Microsoft YaHei',sans-serif;color:#1a1a1a; background-color:#f4f6fc; }/*overflow-x:hidden;*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,input{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:14px;}
a{color:#1a1a1a; text-decoration:none;outline:none} /* for firefox */
a:hover,.color_gray a:hover{color:#409eff;}
ul,dl,li{list-style-type:none;}li{vertical-align:top;}
.clear{ clear:both; margin:0; padding:0; font-size:0px; line-height:0px; height:0px; overflow:hidden;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
*html .clearfix {zoom:1;}
*+html .clearfix {zoom:1;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
img{ border:none; vertical-align:top;}
input,textarea,select{font-size:14px;color:#1a1a1a; width: 100%; border:none; outline: medium none;font-family:PingFang SC;}
input[type='checkbox']{width: auto;}
input:focus{}
.img_bfb img{ width:100%;}
/* CSS 活动的公共样式 */
.left{ float:left;}.right{ float:right;}.display_bk{ display:block;}.display_in_bk{ display:inline-block;}.display_no{ display:none;}.overflow{ overflow:hidden;}.text_center{ text-align:center;}.text_right{ text-align:right;}.text_left{ text-align:left;}
/*网页的内容宽 */
.web_width{ width:1200px; margin:0 auto;}
/* .web_width{ width:80%; margin:0 10%;} */
.relative{ position:relative;}.absolute{ position:absolute;}.fixed{ position:fixed;}.pointer{cursor: pointer}
.dib_gap{word-spacing:-1em;}

/* CSS 边距 */
.mt_5{ margin-top:5px;}.mt_10{ margin-top:10px;}.mt_15{ margin-top:15px;}.mt_20{ margin-top:20px;}.mt_25{ margin-top:25px;}.mt_30{ margin-top:30px;}.mt_35{ margin-top:35px;}.mt_40{ margin-top:40px;}.mt_50{ margin-top:50px;}.mt_60{ margin-top:60px;}
.ml_10{ margin-left:10px;}.ml_15{ margin-left:15px;}.ml_20{ margin-left:20px;}.ml_25{ margin-left:25px;}.ml_30{ margin-left:30px;}.ml_35{ margin-left:35px;}.ml_40{ margin-left:40px;}.ml_50{ margin-left:50px;}
.mr_10{ margin-right:10px;}.mr_15{ margin-right:15px;}.mr_20{ margin-right:20px;}.mr_25{ margin-right:25px;}.mr_30{ margin-right:30px;}.mr_35{ margin-right:35px;}.mr_40{ margin-right:40px;}.mr_50{ margin-right:50px;}
.mb_5{ margin-bottom:5px;}.mb_10{ margin-bottom:10px;}.mb_15{ margin-bottom:15px;}.mb_20{ margin-bottom:20px;}.mb_25{ margin-bottom:25px;}.mb_30{ margin-bottom:30px;}.mb_35{ margin-bottom:35px;}.mb_40{ margin-bottom:40px;}.mb_50{ margin-bottom:50px;}
.m_auto{ margin:0 auto;}
.pt_5{ padding-top:5px;}.pt_10{ padding-top:10px;}.pt_15{ padding-top:15px;}.pt_20{ padding-top:20px;}.pt_25{ padding-top:25px;}.pt_30{ padding-top:30px;}.pt_35{ padding-top:35px;}.pt_40{ padding-top:40px;}.pt_45{ padding-top:45px;}.pt_50{ padding-top:50px;}
.pb_10{ padding-bottom:10px;}.pb_15{ padding-bottom:15px;}.pb_20{ padding-bottom:20px;}.pb_25{ padding-bottom:25px;}.pb_30{ padding-bottom:30px;}.pb_35{ padding-bottom:35px;}.pb_40{ padding-bottom:40px;}.pb_45{ padding-bottom:45px;}.pb_50{ padding-bottom:50px;}
.pl_10{ padding-left:10px;}.pl_15{ padding-left:15px;}.pl_20{ padding-left:20px;}.pl_25{ padding-left:25px;}.pl_30{ padding-left:30px;}.pl_35{ padding-left:35px;}.pl_40{ padding-left:40px;}.pl_45{ padding-left:45px;}.pl_50{ padding-left:50px;}
.pr_10{ padding-right:10px;}.pr_15{ padding-right:15px;}.pr_20{ padding-right:20px;}.pr_25{ padding-right:25px;}.pr_30{ padding-right:30px;}.pr_35{ padding-right:35px;}.pr_40{ padding-right:40px;}.pr_45{ padding-right:45px;}.pr_50{ padding-right:50px;}
.p_10{ padding:10px;}.p_20{ padding:20px;}.p_30{ padding:30px;}.p_40{ padding:40px;}.p_50{ padding:50px;}.p_60{ padding:60px;}.p_70{ padding:70px;}.p_80{ padding:80px;}
/* 字体 */
.tahoma{font-family:"Tahoma"; }
.arial{font-family:"Arial, Helvetica, sans-serif";}
.verdana{font-family:Verdana, Geneva, sans-serif;}
.yahei{font-family:"Microsoft yahei";}
.fzlth{font-family:"Lantinghei SC";}
.pf_qx{font-family:PingFangSC-Thin, sans-serif;}
.pf_b{font-family: PingFangSC-Regular, sans-serif;}
.bold{font-weight:bold;}
.uppercase{text-transform:uppercase;}/*英文全部大写 */
.lowercase {text-transform: lowercase}/*英文全部小写 */
.capitalize {text-transform: capitalize}/*首字母大写 */
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}/*单行省略号 */
.ellipsis2{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.div_center{display: flex;display: -webkit-flex;align-items:center;}/*垂直居中 */
.div_center2{display:flex;display:-webkit-flex;align-items:center;justify-content:center;}

/* 字体大小 */
.font10{ font-size:10px;}.font11{ font-size:11px;}.font12{ font-size:12px;}.font13{ font-size:13px;}.font14{ font-size:14px;}.font15{ font-size:15px;}.font16{ font-size:16px;}.font18{ font-size:18px;}.font20{ font-size:20px;}.font21{ font-size:21px;}.font22{ font-size:22px;}.font24{ font-size:24px;}.font26{ font-size:26px; line-height:26px;}.font28{ font-size:28px; line-height:26px;}.font30{ font-size:30px; line-height:30px;}.font32{ font-size:32px; line-height:32px;}.font34{ font-size:34px; line-height:34px;}.font36{ font-size:36px; line-height:36px;}.font42{ font-size:42px; line-height:42px;}
.font56{ font-size:56px; line-height:56px;}

/* 字体图标颜色 */
.cc_chenggong:before,.cc_chengnuohan:before,.cc_zhifuchenggong:before
{color: #409EFF;}
.cc_weixin:before{color: #0bb20b;}
.cc_jiaotongyinhang:before{color: #1d2087;}
.cc_nongyeyinhang:before{color: #009174;}
.cc_jiansheyinhang:before{color: #004f9c;}
.cc_zhaoshangyinhang:before{color: #c7162e;}
.cc_chenggong1:before{color: #f1403c;}
.cc_gongshangyinhang:before{color: #e50012;}
.cc_zhifubao:before{color: #1296db;}
/*.cc_xin:before{color: #ea5858;}*/
.cc_shibai:before{color: #dc0032;}

/* 字体颜色 */
.color_0{ color:#000;}.color_3{ color:#333;}.color_6{ color:#666;}.color_9{ color:#999;}.color_c{ color:#CCC;}
.color_f,.color_f a,.color_f:hover{ color:#fff;}
.color_f a:hover{opacity: .7;}
.color_red{color:#dc0032;}
.color_red2{color:#ff2d4f;}
.color_blue,.color_blue a{ color:#409eff;}
.color_blue a:hover{color:#000;}
.color_orange,.color_orange a{ color:#ffa800;}
.color_gray,.color_gray a{color: #8590a6;}
/* 行高 */
.lh_16{ line-height:16px;}.lh_18{ line-height:18px;}.lh_20{ line-height:20px;}.lh_21{ line-height:21px;}.lh_24{ line-height:24px;}.lh_25{ line-height:25px;}.lh_30{ line-height:30px;}.lh_35{ line-height:35px;}.lh_40{ line-height:40px;}.lh_50{ line-height:50px;}.lh_60{line-height:60px;}.lh_70{line-height:70px;}
/* 边框线 */
.bord_top{border-top:1px solid #eee;}
.bord_bot{border-bottom:1px solid #eee;}
.bord_no{ border-bottom:none;}
/* 页面背景图片与颜色 */
.i{display:block; overflow:hidden; position:absolute; left:0; top:50%;}
.back_white{ background:#fff;}
.back_gray{ background:#f9f9f9;}
.back_blue{background:#409eff; color: #fff;}
.bj_img{background-size:cover;background-repeat: no-repeat;background-position: center center;}
/*效果 */
.alpha1{filter: Alpha(Opacity=10);opacity: 0.1;}
.alpha2{filter: Alpha(Opacity=20);opacity: 0.2;}
.alpha3{filter: Alpha(Opacity=30);opacity: 0.3;}
.alpha4{filter: Alpha(Opacity=40);opacity: 0.4;}
.alpha5{filter: Alpha(Opacity=50);opacity: 0.5;}
.alpha6{filter: Alpha(Opacity=60);opacity: 0.6;}
.alpha7,a:hover img,
.btn_35_primary:hover,.btn_40_primary:hover,.btn_xs1:hover,.btn_primary2:hover
{filter: Alpha(Opacity=70);opacity: 0.7;}
.alpha9,.btn:hover,.btn_xs:hover,.btn_sm:hover,.btn_primary:hover,button:hover,.btn_h6:hover,.card_header a:hover,.btn_35:hover,.btn_40:hover
{filter: Alpha(Opacity=90);opacity: 0.9;}
[class^="btn_"]:hover{filter: Alpha(Opacity=70);opacity: 0.7;}
.radius_3{border-radius:3px;}.radius_5{border-radius:5px;}.radius_10{border-radius:10px;}
.radius_bf5{border-radius:50%;}
{box-shadow: 0px 0px 2px 2px #f9f9f9;}
.all_3,.i,a,input,textarea,.btn,button,
.ul_listImg li,.btn_xs,.btn_sm,.QA_list li,.back_gray_an,.cc_youjian,.input_vl,.input_v, .btn_35,.btn_35_primary,.btn_40_primary,.pay_way li,
.dotted_ine_box li,.mer_list dl,.btn_xs1,.btn_40,.sho_navl li,.sho_navl,.sho_navl li dl,.sho_navl li .cc_youjiantou,.sho_nav1 .cc_sanjiaoyou,.rec_ser_bok li,.g_t_title2,.match_list li,.match_list h1,
[class*='btn'],.article_list dl
{transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s; }
/* 共用 */
.logo img{height: 60px;}
.logo h1{font-size: 24px; padding-top: 22px;}
.locat{width: 100%;}
.locat a{font-family: PingFangSC-Regular, sans-serif;}

.card{background: #fff;border-radius: 5px;width: 100%;}
.card_header{line-height: 60px;position: relative;border-bottom: 1px solid #eee;}
.card_header h1{font-size: 20px;font-weight: bold;}
.card_header a{color: #409EFF;}

.shortcut{background: #1395f3;line-height: 60px;}
.sho_r a{display: inline-block;padding: 0 15px;}
.sho_r a:last-child{padding-right: 0;}
.sho_r{color: #fff;}
.top_search{height: 80px; margin-bottom: 3px !important; padding-top: 20px; }
.search_box .search_a{width: 620px;}
.search_box a{margin-right: 10px;}

.top_inf{display: inline-block;width: 45px;height: 45px;line-height: 45px;}
.top_inf:hover .cc_youjian{font-size: 20px;}
.top_inf .badge{position: absolute;}
.Vfast_nav a{display: inline-block;margin-right: 60px;}
.avatar_150,.avatar_100,.avatar_50,.avatar_60,.avatar_80{width: 94px;height: 94px;background-color: #daecff;border: 3px solid #fff;display:inline-block;background-size: 100% auto;background-repeat: no-repeat;background-position: center center;}
.avatar_50{width:50px;height:50px;border: none;}.avatar_60{width:60px;height:60px;border: none;}
.avatar_80{width:80px;height:80px;border: none;}
.avatar_150{width:150px;height:150px;border: none;}
.avatar_150 a{position: absolute;width: 100%;height: 100%;text-align: center;left: 0;top: 0;background:rgba(0,0,0,0.5);border-radius: 50%;color: #fff;}
.avatar_150 a .ico{font-size: 30px;margin-top: 50px;display: block;}
.page a{width: 43px;height: 43px;line-height: 43px;border: 1px solid #eee;border-radius: 50%;margin: 0 5px;}
.page a:hover,.page .on{border-color: #409eff;background: #409eff;color: #fff;}
.page > * {display: inline-block;}
.page .input{height: 43px;border: 1px solid #eee;border-radius: 45px;width:80px;text-align: center;margin: 0 5px;}
.page .input:focus{border-color: #409eff;}
.page .next,.page .prev{background: #f9f9f9; border-color:#f9f9f9;}
/* 共用-按钮 */
.input_h6{height:58px;line-height:58px;border-radius:58px;text-indent: 30px;border: 1px solid #a8d2fe;}
.input_h5{height: 50px;line-height: 50px;border-radius: 50px;text-indent: 20px;border: 1px solid #eee;box-sizing: border-box;}
.input_h5:focus{border-color: #409EFF;}
.btn{padding: 0 50px;}
a.btn,.btn_sm:hover{color: #fff;}
.btn,.btn_xs,.btn_primary_xs2,.btn_primary,.btn_sm2,.btn_primary_sm2,.btn_primary_sm3,.btn_sm,.btn_h6,.btn_35,.btn_xs1,.btn_40
{font-size:14px;display: inline-block;background: #409eff;color:#fff;cursor: pointer; border:none; outline: medium none;}

.btn_primary,.btn_primary_sm2,.btn_primary_sm3,.btn_primary_xs2,.btn_primary_xs
{background:none;color:#f1403c;position: relative;}
.btn_primary:hover{color:#f1403c;}
.btn_primary_sm2{font-size: 12px;}

.btn,.btn_primary,.btn_primary2{line-height: 50px;height: 50px;border-radius: 50px; padding: 0 30px; position:relative; display:inline-block;}
.btn_sm,.btn_primary_sm3{line-height:45px;height:45px;border-radius:45px; padding: 0 30px;}
.btn_primary_sm{line-height: 40px;height: 40px;border-radius: 5px;border: 1px solid #eee;display: inline-block;padding: 0 20px;}
.btn_primary_xs2{line-height:35px;height:35px;border-radius:35px; padding: 0 15px;}
.btn_primary_sm:hover,.btn_primary_sm.on{border-color: #409EFF;}

.btn_35,.btn_35_primary,.btn_40_primary,.btn_40,.btn_primary_xs
{line-height:35px;height:35px;border-radius:35px; padding: 0 25px;display: inline-block;position: relative;cursor: pointer; border:none; outline: medium none;}
.btn_40{line-height:40px;height:40px;border-radius:40px;color: #fff;padding: 0 30px;}
.btn_40 .ico{font-size: 16px;}
.btn_40_primary{line-height:40px;height:40px;border-radius:40px; }
.btn_primary_xs{line-height:25px;height:25px;border-radius:25px; padding: 0 15px;}

.btn_35_primary::after,.btn_40_primary::after,.btn_primary_xs::after
{content:'';position:absolute;width: calc(100% - 2px);height: calc(100% - 2px);border:1px solid #409EFF; left: 0;top: 0;border-radius: 50px;}
.btn_35:hover,.btn_40:hover{color: #fff;}
.btn_35_primary,.btn_40_primary{color: #409EFF;}

.btn_primary{min-width:80px;}
.btn_primary::before,.btn_primary_sm2::before,.btn_primary_sm3::before,.btn_primary_xs2::before,.btn_primary2::before
{content: '';position: absolute;width: 100%;height: calc(100% - 2px) ;border: 1px solid #f1403c;left: 0;top: 0;border-radius: 50px;}

.btn_primary_sm2,.btn_primary_sm3,.btn_primary_xs2,.bp_blue,.btn_primary2{color: #409EFF;}
.btn_primary_sm2::before,.btn_primary_sm3::before,.btn_primary_xs2::before,.bp_blue::before,.btn_primary2::before{border-color: #409EFF;}

.btn_sm2,.btn_primary_sm2{line-height:30px;height:30px;border-radius:30px; padding: 0 20px;}
.btn_primary_sm3{border: none;}
.li_l_nome li:last-child{border-bottom: none;}
.btn .ico{margin: 0 5px;}
.btn .cc_sousuo{font-size:20px;}
.btn_xs,.btn_xs1{line-height:25px;padding: 0 15px;border-radius: 25px;display: inline-block;background: #409eff;color: #fff;min-width:8px;text-align: center;font-size: 12px;}
.btn_xs1{line-height:20px;padding: 0 8px;border-radius: 20px;}
.btn_con .btn,.btn_con .btn_primary2,.btn_con .btn_primary_sm,.btn_con .btn_primary_xs2,.btn_con .btn_35_primary,.btn_con .btn_35{margin: 0 6px;}

.btn_con .btn_xs1{margin: 0 5px;}
.btn_h6{line-height: 60px;height: 60px;width: 100%;border-radius: 5px;font-size: 16px;text-align: center;}
.btn_h6:hover,.btn_sm2:hover{color: #fff;}
.badge{height:20px;line-height:20px;position:relative;display:inline-block;padding:0 6px;font-size:12px;text-align:center;background-color:#f1403c;color:#fff;border-radius:20px}
.btn_primary_gray,.btn_primary_gray:hover{ color:#8590a6;}
.btn_primary_gray::before,.btn_primary_gray::after{border-color: #8590a6;}

.select_a{border: 1px solid #fff; height: 33px;border-radius: 35px;position: relative;overflow: hidden; width: 100%;}
.select_a .ico{position: absolute;line-height: 33px;}
.select_a .cc_xiala{right:18px;top: 0;}
.select_a select{border:none;outline: none;background: none;color: #ffffff;width: 120%;line-height: 33px;height: 33px;position: absolute;top: 0;left:0;text-indent:15px;}
.search_a .btn{right:5px;top: 50%;margin-top: -25px;background: #1395f3;padding: 0 40px;}
.select_a_input_h5{border-color: #eee;color: #1A1A1A;height: 48px;line-height: 48px;border-radius: 48px;}
.select_a_input_h5 select{color: #1A1A1A;line-height:48px;height:48px;}
.select_a_input_h5 .ico{line-height:48px;}
.hot a{padding: 0 10px;}
.line,.line_xs{display: inline-block;margin: 0 15px;}
.line_xs{margin: 0 10px;color: #afafaf;font-size: 12px;}
.w_60_ccw{width:60px;}.w_80_ccw{width:80px;}.w_90_ccw{width:80px;}.w_100_ccw{width: 100px;}.w_200_ccw{width: 200px;}.w_320_ccw{width:320px;}
.w_820_ccw{width: 820px;}
.w_360_ccw{width: 360px;}

.layer_shade{top: 0;left: 0;width: 100%;height: 100%;position: fixed;z-index: 2000;background-color:rgb(0, 0, 0,0.3);}
.layer{z-index: 99999;position: absolute; background: #fff;left: 0; top: 0;border-radius: 5px;left: 50%;top: 50%;}
.layer .cc_guanbi{right: 40px;top:40px;}
.layer_page{z-index: 99999;background: #fff;border-radius: 5px;}
.layer_title{border-radius: 5px 5px 0 0;}
.layer_title .cc_guanbi{right: 20px;font-size: 18px;color: #fff;}
.layer_page .cc_gangbi2,.tk_ico .ico{font-size: 80px;line-height: 80px;}
.layer_btn a{margin: 0 10px 0 0;min-width:90px;}

article img{max-width: 100%; border-radius: 5px;}
.field_title{border-width: 1px 0 0;border-style: solid; border-color: #eee;}
.field_title legend{padding-right: 20px;}
.textarea{border: 1px solid #eee;background: #FFF; border-radius:5px;width: 100%;}
.f_item{margin-bottom: 20px;}
.f_block{position: relative;}
.input_line{border-bottom: 1px solid #ebebeb;padding: 20px 0;}
.input_line:focus{border-bottom-color: #409EFF;}
.abs_rc,.abs_lc{position: absolute;right: 0;top: 0;z-index: 2;}
.abs_lc{right: auto;left: 0;}
.w_bf5{width: 50%;}


.select_a_input_h3{border-color: #eee;color: #1A1A1A;height: 28px;line-height: 28px;border-radius: 28px;}
.select_a_input_h3 select{color: #1A1A1A;line-height:28px;height:28px;}
.select_a_input_h3 .ico{line-height:28px;}


/* 当前站点共用 */
.tool_nav{line-height: 60px;}
.tool_nav li{ display:inline-block; margin:0 26px;position: relative;}
.tool_nav li::before{content: " ";position: absolute;width:0;height:3px;background: #409eff;right:0;bottom: -20px;}
.tool_nav li:hover::before,.tool_nav li.on::before{width:100%;height:3px; left:0;}
.tool_nav li.on a{ color:#409eff;}
.dropdown_menu{box-shadow: 0px 0px 20px 0px #ddd; position:absolute; left:50%; top:60px; margin-top:10px; background:#fff;  width:120px; margin-left:-60px; text-align:center; padding:5px 0; border-radius:5px;visibility:hidden;opacity: 0; z-index:10}
.dropdown_menu a{ color:#666; line-height:40px; font-size:14px; display:block; border-bottom:1px solid #f0f0f0;}
.dropdown_menu a:last-child{ border-bottom:none}
.dropdown_menu a:hover,.tool_nav li.on .dropdown_menu a:hover{ color:#409eff;}
.tool_nav li:hover > .dropdown_menu{opacity: 1;visibility: visible;margin-top: 0;}
.tool_nav .dropdown_menu a:after{ display:none}
.tool_nav .dropdown_menu a{ display:block; position:relative; line-height:40px;font-size:14px;border-bottom:1px solid #f0f0f0;}
.tool_nav li.on .dropdown_menu a{ border-bottom:1px solid #f0f0f0;color:#666; }
.tool_nav li.on .dropdown_menu a:last-child{ border-bottom:none}
.tool_nav .dropdown_menu a:last-child{ border-bottom:none}

.title{border-radius: 5px 5px 0 0;background: #409EFF; color: #fff;}
.title,.title2{height: 60px;line-height: 60px;}
.title .ico{margin-right: 5px;}
.title a{position: absolute;right: 20px;}
/* .locat_box{ height:80px; line-height:80px;} */
.locat_box{ height:30px; line-height:30px;}
.img_max img{max-width: 100%;}
.fast_menu{ z-index:999; right:10px; bottom:356px;}
.fast_menu li{ width:60px; height:65px; background:#1395f3; position:relative; font-size: 12px;}
.fast_menu li .ico{ display:block; font-size:30px; line-height:30px;}
/* .fast_menu li:nth-last-child(2){ background:#40a8f5;}.fast_menu li:last-child{ background:#6dbcf7;} */
.badge2{height:25px;line-height:25px;position:absolute; font-size:14px; display:inline-block;padding:0 8.5px;text-align:center;background-color:#fff;color:#f1403c;border-radius:25px}
.fast_menu li .badge2{right:5px; top:5px;}

/* 文章列表和详情 */
.article_list dl,.article_list dt,.article_list dd,.article_list dt a{min-height: 120px;position: relative;}
.article_list dl{margin-bottom: 10px;}
.article_list dt{width:210px;float: left;overflow: hidden;}
.article_list dt a{display: block;background-size: 100% auto;background-repeat: no-repeat;background-position: center center;}
.article_list dl:hover dt a{transform: scale(1.1);}
.article_list dd{width: calc(100% - 230px);float: right;}
.article_list dl:hover{box-shadow: 0px 5px 30px 0px #ccc;}
.article_list dl:hover h1 a{color: #409eff;}
.article_list dl:hover .btn_xs{background: #409eff;color: #fff;}
.art_tim{left: 0;bottom: 0;}
.sum_wrap span{padding: 0 10px;display: inline-block;}

.comment{margin-top: -1px;}
.comment .textarea{height: 43px;padding:0 10px;line-height: 43px; width: calc(100% - 160px);}
.com_in .textarea{width:500px;}
.comment .btn_sm{border-radius: 5px; right: 20px;}
.com_list li{position: relative;padding-left: 60px;margin-top: 20px;padding-top: 15px;}
.com_opa a{display: inline-block;margin-right: 15px;}
.com_opa a .icon{margin-right: 5px;}
.com_list li .avatar_50{left: 0;top: 0;}
.c_time{right: 0;top: 15px;}
.com_list li .btn_sm{ right:0px;}
.article_a a{color:#409eff;}
.article_a a:hover{ opacity:.7;}

/* 企业信息详情 */
.shop_info dt{width: 160px;height: 160px;border-radius: 5px;background-color: #daecff;float: left;}
/* .shop_info dd{width: 950px;float: right;} */
.shop_info dd li{display: inline-block;width: 33%;line-height: 40px;}
.shop_info dd li .ico{margin-right: 8px;font-size: 18px; width:18px; display:inline-block;}
.shop_info dd li:last-child{ width:100%}
.gs_tab .ico{ margin-right:6px;font-size: 16px;}
.g_t_title{ border-radius:5px 5px 0 0; border-bottom:1px solid #ddeaed;}
.g_t_box li{  margin-bottom:5px;}
.g_t_box li:hover .g_t_title2{color:#409eff;}
.g_t_txt{border-radius:0 0 5px 5px; display:none;}
.g_t_box li.on .g_t_txt{ display:block;}
.g_t_box li.on .g_t_title2{color:#409eff;}
.g_t_box li.on .g_t_title2 .ico{transform:rotate(90deg);}

/* 政策详情 */
.g_t_title .cc_youjiantou{ right:30px; color:#666;}
.g_t_box li.on .g_t_title .cc_youjiantou{transform:rotate(90deg);color:#409eff;}
.policy_con .g_t_box li{  margin-bottom:20px;}
.pol_tag .btn_primary_sm2{ color:#8590a6;}
.pol_tag .btn_primary_sm2::before{border-color:#8590a6;}
.pol_tag .btn_primary_sm2{ margin-right:18px; margin-bottom:10px;}
.c_pare{ left:50%; bottom:380px; z-index:999; margin-left:240px;box-shadow: 0px 0px 20px 0px #ccc;}
.c_pare .title2 .badge2{right:10px; top:50%; margin-top:-12px;}
.c_pare ul{ padding:0 10px;}
.c_pare li{line-height:55px; border-bottom:1px solid #eee; padding-right:60px;}
.c_pare li .abs_rc{color:#ff2d4f;}
.color_gray .color_blue{ color:#409eff;}

/* 部门政策对比 */
.flex{display: flex;flex-wrap: wrap;}
.flex_c{display: flex;justify-content: space-around;}
.flex-1{flex:1;}.flex-2b{flex:1.5;}.flex-2{flex:2;}
.pare_table .flex_c > .td{flex:1;padding: 0 15px;box-sizing: border-box;}
.pare_table .flex_c > .td:nth-child(1){flex:1.4; padding-left: 30px;}
.pare_table .flex_c > .td:nth-child(2){flex:0.8;}
.pare_table .flex_c > .td:nth-child(3){flex:0.4;}
.pare_table .flex_c > .td:nth-child(4){flex:1.1;}
.pare_table .flex_c > .td:nth-child(5){flex:2.2;}
.pare_table .flex_c > .td:last-child{flex:0.8;text-align: right; padding-right: 30px;}
.pare_table .tr:hover{box-shadow: 0px 0px 20px 0px #dfe1e6;}
.cancel_btn,.cancel_btn:hover{color: #ed2f3b;}
.cancel_btn::before{border-color:#ed2f3b ;}
.pare_table .td .btn_primary_sm2{display: none;}
.pare_table .tr:hover .td .btn_primary_sm2{display: inline-block;}
/* 极速匹配 */
.input_ico .ico{position: absolute;line-height:50px;}
.input_ico .ico_l{left: 18px; }
.input_ico .cc_xiala{right: 18px;}
.input_ico .input_h5{text-indent: 40px;}
input[type*='radio']{width: auto;}
.mid{margin-left: 10px;}
.f_tab a{margin: 0 15px;}
.radio_set li{display: inline-block;width: 16.6%;margin: 5px 0;}
.match_c2 p{margin-right: 50px;}
.match_c1 p{min-width: 160px;}
.match_c1 p:nth-child(1){width: 300px;}
.match_c2 p:nth-child(2){width: 500px;}
.match_list li:hover{box-shadow: 0px 0px 20px 0px #dfe1e6;}
.match_list li:hover h1{color: #409eff;}
.match_c1 .ico{margin-right: 5px;}
/* 评分 */
.input_disabled{background: #eee;}
.w_180_ccw{width: 180px;}
.pf_input .input_h5{border: none;border-radius: inherit; border-bottom: 1px solid #409eff;color: #409eff;}
/* 部门政策 */
.QA_list_txt li{position: relative;border-bottom: 1px solid #eee;padding: 14px 0;}
.QA_list_txt li::before{content: '·';position: absolute;left: -10px;top: 14px;color: #8590a6;}
.QA_list_txt li:hover::before{color: #409EFF;}
.QA_record li{padding-right: 50px;}
.QA_record .del{color: #f1403c;position: absolute;right: -5px;top:50%;margin-top: -12px; visibility:hidden;opacity: 0;}
.QA_record li:hover .del{visibility: visible;opacity: 1;right: 0;}
.add_hd li{height: 190px;position: relative;background-size: cover;background-repeat: no-repeat;background-position: center center;border-radius: 5px;}
.add_hd li a{position: absolute;z-index: 9; width: 100%;height: 100%;}
.bord_r{border-right: 1px solid #eee;}
.pk_bj{width: 390px;height: 120px;}
.pk_bj .abs_rc{right: 10px;top:6px;}
.pk_list li{position: relative;padding-left: 10px;line-height: 30px;padding-right: 130px;margin-top: 10px;}
.pk_list li:first-child{margin-top: 0;}
.pk_list li::before{content: '·';position: absolute;left: 0;top:0;color: #8590a6;line-height: 30px;}
.pk_list li .btn_primary_sm2{position: absolute;right: 0;top: 0;visibility:hidden;opacity: 0;}
.pk_list li:hover .btn_primary_sm2{visibility: visible;opacity: 1;right: 0;}
.pk_an{top: 50%;margin-top: -40px;}




/* 底部 */
.foot{background: #2882de;border-top: 5px solid #1395f3;}
.f_c_nav{border-bottom:1px solid #fff;}
.foot h6{font-weight: normal;}
.f_nav li{display: inline-block;width: 180px;margin-bottom: 20px;}
.f_nav ul{width: 590px;}
.follow a:hover{color: #1395f3;}
.follow .cc_weixin:before,.follow .cc_weibo:before{color:#fff;}
.cop{line-height: 50px;background: #000;}
.links_a a{display: inline-block; margin:0 10px;}

.back_gray2,.back_gray_an{ background:#eee;color: #1a1a1a;}
.back_gray_an:hover{color: #409EFF;}
.back_white_an{background: #fff;color: #409EFF;}
.back_red_an{background: #dc0032;color: #fff;}
.back_red2_an{background: #f1403c;color: #fff;}
.back_orange_an{background: #f19149;color: #fff;}



.input_v{height:40px;line-height:40px;position: relative;margin-bottom: 20px;}
.input_v::before,.input_v::after{content: '';position: absolute;width: 100%;height: 1px;left: 0;bottom: 0;background: #eee;}
.input_v:hover::before{background: #ccc;}
.input_v::after{width: 0px;}
.input--filled::after{width: 100%; height:2px;background: #23b8ff;}
.input_v .input__field{width: 100%;height: 100%;position: relative;z-index: 2;background:none;}
.input_v .input_vl{position: absolute;top:0;left: 0;overflow: hidden;cursor: text; color:#999;}
.input--filled{border-bottom-color: #23b8ff;}
.input--filled .input_vl{top: -22px;font-size: 12px;color: #999;}

.ccwfont{
    font-family: ccwfont !important;
}

.ccwnewfont{
    font-family: ccwnewfont !important;
}

.ccwnewfonts{
    font-family: ccwnewfonts !important;
}

.ccwnewfontes{
    font-family: ccwnewfontes !important;
}

.ccwnewfontss{
    font-family: ccwnewfontss !important;
}

.ccwnewfontpublicity{
    font-family: ccwnewfontpublicity !important;
}

.ccwnewfontpublicitys{
    font-family: ccwnewfontpublicitys !important;
}

/*政策详情页tab样式*/
.other-tab.el-tabs--border-card{border: none;box-shadow: none}
.other-tab.el-tabs--border-card>.el-tabs__header{background-color: #F2F2F2;border: none}
.other-tab.el-tabs--border-card>.el-tabs__header .el-tabs__item{border: none}
.other-tab .el-table__empty-text{font-size: 14px}